<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar" style="height: 95vh;">
            <div class="position-sticky">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                      <a href="#" class="nav-link text-white justify-content-center">
                        <i class="fa-solid fa-gauge"></i>
                        <span style="font-size: 20px;"> Dashboard</span>
                      </a>
                    </li>
                    <li>
                        <a [routerLink]="['/profile']" class="nav-link text-white" style="font-size: 20px;">
                            <i class="fa-solid fa-person-walking"></i>
                            Profile
                        </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-white" style="font-size: 20px;">
                        <i class="fa-solid fa-hotel"></i>
                        Hotels
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-white" style="font-size: 20px;">
                        <i class="fa-solid fa-bed"></i>
                        Bedrooms
                      </a>
                    </li>
                  <li>
                    <a [routerLink]="['/reserva']" class="nav-link text-white" style="font-size: 20px;">
                      <i class="fa-solid fa-book"></i>
                      Reserva
                    </a>
                  </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Dashboard</h1>
          </div>
          <app-content></app-content>
      </main>
    </div>
</div>
