<!-- cuartos.component.html -->

<section class="accomodation_area section_gap">
  <div class="container">
    <div class="section_title text-center">
      <h2 class="title_color">Selección de Cuartos</h2>
      <p>Todos vivimos en una era que pertenece a los jóvenes de corazón. La vida se está volviendo extremadamente rápida.</p>
    </div>
    <div class="row mb_30">
      <div *ngFor="let habitacion of habitaciones" class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src='{{"http://localhost:8081/"+habitacion.imageUrl}}' alt="{{ habitacion.tipo }}"  style="width: 320px; height: 320px;">
            <button type="button" class="btn theme_btn button_hover" data-bs-toggle="modal" data-bs-target="#detalleModal"
        (click)="mostrarDetallesHabitacion(habitacion)">
        Detalle
      </button> 
          </div>
          <a href="#"><h4 class="sec_h4">{{ habitacion.tipo }}</h4></a>
          <h5>{{ habitacion.precioNoche | currency:'USD':'symbol':'1.2-2' }}<small>/night</small></h5>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles de la habitación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Mostrar detalles de la habitación seleccionada -->
        <div *ngIf="habitacionSeleccionada">
          <p>Habitación ID: {{ habitacionSeleccionada.habitacionId }}</p>
          <p>Capacidad: {{ habitacionSeleccionada.capacidad }}</p>
          <p>Disponible: {{ habitacionSeleccionada.disponible ? 'Sí' : 'No' }}</p>
          <p>Precio por noche: {{ habitacionSeleccionada.precioNoche | currency:'USD':'symbol':'1.2-2' }}</p>
          <p>Tipo de habitación: {{ habitacionSeleccionada.tipo }}</p>
          <p><img style="width: 350px; height: 200px;" src='{{"http://localhost:8081/"+habitacionSeleccionada.imageUrl}}'></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
