<div class="card table-responsive">
    <div class="card-header">
        <h3>Lista de Reservas</h3>
    </div>
    <table id="tablaReserva" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
              <th>Reserva ID</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Estado</th>
              <th>Precio Total</th>
              <th>Fecha Creación</th>
              <th>Comentarios</th>
              <th>Cliente</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let reservaItem of reserva">
                  <td>{{reservaItem.reservaId}}</td>
                  <td>{{reservaItem.fechaInicio | date: 'dd/MM/yyyy'}}</td>
                  <td>{{reservaItem.fechaFin | date: 'dd/MM/yyyy'}}</td>
                  <td>{{reservaItem.estado}}</td>
                  <td>{{reservaItem.precioTotal}}</td>
                  <td>{{reservaItem.fechaCreacion}}</td>
                  <td>{{reservaItem.comentarios}}</td>
                  <td>{{reservaItem.clienteId}}</td>
                  <td>
                    <a class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i> Editar</a> |
                    <a class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i> Eliminar</a>
                </td>
                </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reserva</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <form class="row g-3">
              <div class="col-12">
                <label for="validationDefaultId" class="form-label">ID</label>
                <input type="text" class="form-control" id="validationDefaultId" required>
              </div>
              <div class="col-12">
                <label for="validationDefaultName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="validationDefaultName" required>
              </div>
              <div class="col-12">
                <label for="validationDefaultCorreo" class="form-label">Correo</label>
                <input type="email" class="form-control" id="validationDefaultCorreo" required>
              </div>
              <div class="col-12">
                <label for="validationDefaultTelefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="validationDefaultTelefono" required>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form class="row g-3">
              <div class="col-12">
                <label for="validationDefaultDireccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="validationDefaultDireccion" required>
              </div>
              <div class="col-12">
                <label for="validationDefaultFechaRegistro" class="form-label">Fecha de Registro</label>
                <input type="date" class="form-control" id="validationDefaultFechaRegistro" required>
              </div>
              <div class="col-12">
                <label for="validationDefaultDireccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="validationDefaultDireccion" required>
              </div>
              <div class="col-12">
                <label for="validationDefaultFechaRegistro" class="form-label">Fecha de Registro</label>
                <input type="date" class="form-control" id="validationDefaultFechaRegistro" required>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>