<div class="card">
    <h5 class="card-header">Perfil de Usuario</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <!-- Cuadro de imagen de perfil -->
                <label for="profilePicture" class="form-label">Foto de perfil</label>
                <div class="d-flex flex-column align-items-center">
                    <img id="profilePicturePreview" src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI=" alt="Foto de perfil" class="rounded-circle me-3" width="150px" height="150px">
                    <input type="file" class="form-control" id="profilePicture" accept="image/*">
                </div>
            </div>
            <div class="col-md-8">
                <!-- Formulario de perfil -->
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="validationDefaultId" class="form-label ">ID</label>
                        <input type="text" class="form-control " id="validationDefaultId" aria-describedby="inputGroupPrepend2"  disabled required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="validationDefaultName" aria-describedby="inputGroupPrepend2" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultCorreo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="validationDefaultCorreo" aria-describedby="inputGroupPrepend2" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultTelefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="validationDefaultTelefono" aria-describedby="inputGroupPrepend2" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultDireccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="validationDefaultDireccion" aria-describedby="inputGroupPrepend2" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultFechaRegistro" class="form-label">Fecha de Registro</label>
                        <input type="date" class="form-control" id="validationDefaultFechaRegistro" aria-describedby="inputGroupPrepend2" required>
                    </div>
                    <div class="col-md-8">
                        <label for="validationDefaultPreferencias" class="form-label">Preferencias</label>
                        <textarea class="form-control" placeholder="Leave a comment here" id="validationDefaultPreferencias" style="height: 100px"></textarea>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-contactoemergencia></app-contactoemergencia>